@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-6">Compile</h1>
</div>

<div class="form-group">
    <label for="ta_input">Input:</label>
    <textarea class="form-control" rows="10" id="ta_input"></textarea>
</div>

<div class="form-group">
    <label for="ta_output">Output:</label>
    <textarea class="form-control" rows="10" id="ta_output"></textarea>
</div>

