@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-6">Compile</h1>
</div>

<div class="form-group">
    <label for="ta_input">Input:</label>
    <textarea class="form-control" rows="10" id="ta_input"></textarea>

    <label for="cb_comp">Compiler:</label>
    <select class="form-select" aria-label="Compiler kind" id="cb_comp">
        <option selected></option>
        @foreach (var cid in Def.Compilers.ListCompileIds())
        {
            <option value="@cid">@cid</option>
        }
    </select>
    
    <label for="ta_output">Output:</label>
    <textarea class="form-control" rows="10" id="ta_output"></textarea>

    <div class="text-center">
        <button type="button" class="btn btn-primary"
                onclick="onCodeSubmit()">Execute!</button>
    </div>
</div>

<script>
    function onCodeSubmit()
    {
        var input = $('#ta_input').val().trim();
        var output = $('#ta_output').val().trim();
        var comp = $('#cb_comp').val();

        alert(input+" | "+output+" | "+comp);
    }
</script>
